<style>
.not-on-internal {display: none;}
</style>

<script type="text/javascript" src="/jquery.zclip.min.js"></script>
	<div class="notification">
		
		<p>Great. Now you can post your censored message everywhere. The awesome part? Anyone who clicks the link can view your uncensored post, but only if they take an action to stop censorship (writing Congress, making a call). When they follow the link, they'll see the page below. <strong>Make sure to include the link</strong> so we're driving as many emails and calls as possible.</p>


		<div class="share-type">
			<p class="share-explain">You can post censored text to Twitter&#8230;</p>
			<input class="to-share" value="<%= @post.to_tweet %>" readonly />
			<a href="http://twitter.com/intent/tweet?text=<%= CGI::escape(@post.to_tweet) %>" class="btn">Tweet</a>
		</div>

	<!--	<div class="share-type"><p class="share-explain">Or to Facebook&#8230;</p>
			<input class="to-share" value="<%= @post.to_tweet %>" readonly />
			<a href="http://www.facebook.com/share.php?u=<%=  CGI::escape(uncensor_post_url(@post)) %>" class="btn">Facebook</a>
		</div>
-->
		<div class="share-type"><p class="share-explain">Or post the text (followed by a link) to comments, forums, emaii lists, anywhere!</p><input class="to-share" value="<%= @post.censored_post %>" id="text-copy"/><a href="" class="btn" id="copy-text">Copy Text</a></div>

		<div class="share-type"><p class="share-explain">Or post HTML to your blog or homepage (includes a big "uncensor this" button)</p><input class="to-share" value="<%= @post.censored_post %> <a href='<%= uncensor_post_url(@post) %>' style='border: none; display: block; margin: 10px;'><img src='http://americancensorship.org/images/ac2-uncensorthis.png' alt='Uncensor This' width='349' height='53' /></a>" id="html-copy"/><a href="" class="btn" id="copy-html">Copy HTML</a></div>

		<div class="share-type"><p class="share-explain">Make sure to include the link back to this page&#8230;</p><input class="to-share" value="<%= uncensor_post_url(@post) -%>" id="link-copy" /><a href="" class="btn" id="copy-link">Copy Link</a></div>
  <br>
  <p class="center">
    <strong>What they'll see after clicking the link:</strong>
  </p>
</div>



<div id="inner_wrap">
	
	<div id="explanation">
	
		<p>I'm censoring my posts in <strong>protest</strong> of two bills that would censor the web. SOPA and the PROTECT IP act would
			give governments and corporations the power to take down entire websites over infringing posts by users, endangering the internet
			as we know it.
		</p>

		<p>To uncensor this post and ensure that internet censorship never becomes law in America contact Congress now. After you do, 
			you’ll see my uncensored post on the next page. 
		</p>

		<p>Thanks for doing this &mdash; <%= @post.name %></p>

	</div>
	
	<textarea id="post" style=""><%= @post.censored_post %> <%= uncensor_post_url(@post) %></textarea>

</div>

<br><br>

<div class="primary-actions" id="general">
	<%= render :partial => 'congress_emails/form' %>
</div>
</div>

<script>

$(document).ready(function(){
	
	// Copy / Paste via http://www.steamdev.com/zclip/
    $('a#copy-link').zclip({
        path:'/ZeroClipboard.swf',
        copy:function(){return $('input#link-copy').val();}
    });

	$('a#copy-text').zclip({
        path:'/ZeroClipboard.swf',
        copy:function(){return $('input#text-copy').val();}
    });

	$('a#copy-html').zclip({
        path:'/ZeroClipboard.swf',
        copy:function(){return $('input#html-copy').val();}
    });
});

</script>

