<style>
.not-on-internal {display: none;}
</style>
<script type="text/javascript" src="/jquery.zclip.min.js"></script>
	<div class="notification">
		
		<p>Great. Now you can post your censored message everywhere. The awesome part? Anyone who clicks the link can view your uncensored post, but only if they take an action to stop censorship (writing Congress, making a call). When they follow the link, they'll see the page below. <strong>Make sure to include the link</strong> so we're driving as many emails and calls as possible.</p>


<div class="share-type"><p class="share-explain">An explanation</p><input class="to-share" value="some txt" /><a href="" class="btn">Tweet</a></div>

<div class="share-type"><p class="share-explain"></p><input class="to-share" value="" /><a href="" class="btn">Facebook</a></div>

<div class="share-type"><p class="share-explain"></p><input class="to-share" value="" /><a href="" class="btn">Copy Text</a></div>

<div class="share-type"><p class="share-explain"></p><input class="to-share" value="" /><a href="" class="btn">Copy HTML</a></div>

<div class="share-type"><p class="share-explain"></p><input class="to-share" value="" /><a href="" class="btn">Copy Link</a></div>


		
<a href="<%= uncensor_post_url(@post) %>"><%= uncensor_post_url(@post) %></a>

</div>

	<div style="overflow:hidden; text-align:left;width: 900px; margin:0 auto";>
		
		<div id="explanation" style="">
		
			<p>I'm censoring my posts in <strong>protest</strong> of two bills that would censor the web. SOPA and the PROTECT IP act would
				give governments and corporations the power to take down entire websites over infringing posts by users, endangering the internet
				as we know it.
			</p>

			<p>To uncensor this post and ensure that internet censorship never becomes law in America contact Congress now. After you do, 
				you’ll see my uncensored post on the next page. 
			</p>

			<p>Thanks for doing this &mdash; <%= @post.name %></p>

		</div>
		
		<textarea id="post" style=""><%= @post.censored_post %> <%= uncensor_post_url(@post) %></textarea>

	</div>

	<br><br>
	<div class="primary-actions" id="general">
	<div class="wrap">
	<h2>Write an email to Congress Now!</h2>

	<% if @post.present? %>

	<p>Congress needs to hear from all of us or this bill is going to pass</p>
	<form accept-charset="UTF-8" action="/congress_emails" class="new_congress_email" id="new_congress_email" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="WpoVtixAI9WirJs1PM9iw7rSr5WoomLxbgEqZXGGfv0=" /></div>
			<div style="width:664px;margin:0 auto;overflow:hidden">
				<div style="float:left;width:322px; margin-right:20px">
					<input id="congress_email_name" name="congress_email[name]" placeholder="name" size="30" type="text" />
					<input id="congress_email_email" name="congress_email[email]" placeholder="email" size="30" type="text" />
					<input id="congress_email_address" name="congress_email[address]" placeholder="address" size="30" type="text" />
					<input id="congress_email_zip" name="congress_email[zip]" placeholder="zip" size="30" type="text" />

				</div>


				<div style="float:left;width:322px">
					<textarea cols="40" id="congress_email_letter" name="congress_email[letter]" rows="20" style="height: 182px">letter to congress here</textarea>
				</div>

				<button name="button" type="submit">Send Letter to uncensor</button>
			</div>

	<% end %>



</div>
</div>

<script>

$(document).ready(function(){

    $('a#copy-facebook').zclip({
        path:'/ZeroClipboard.swf',
        copy:function(){return $('input#facebook-copy').val();}
    });

});

</script>