<div class="wrap" id="uncensor">
	

	<h2>To uncensor, write Congress now</h2>

	<% if @post.present? %>

	<p style="width: 750px; margin: 0 auto;">Congress needs to hear from all of us or this bill is going to pass. After you send your letter, we'll uncensor the post above.</p>
	<%= form_for CongressEmail.new do |f| %>
	<div style="width:664px;margin:0 auto;overflow:hidden">
		<div style="float:left;width:322px; margin-right:20px">
			<%= f.text_field :name, :placeholder => :name %>
			<%= f.text_field :email, :placeholder => :email %>
			<%= f.text_field :address, :placeholder => :address %>
			<%= f.text_field :zip, :placeholder => :zip %>
			<input type="hidden" name="post_id" value="<%=  @post.id %>">
		</div>


		<div style="float:left;width:322px">
			<%= f.text_area :letter, :style => "height: 182px", :value => "I am your constituent, and I urge you to oppose the Stop Online Piracy Act and the PROTECT IP Act.  These bills will kill jobs and stifle innovation, undermine cyber security, risk censoring the American Internet, and provide cover for totalitarian regimes that want to undermine Internet freedom abroad." %>
		</div>

		<%= button_tag "Send Letter to uncensor" %>
	</div>
	<% end %>

	<% end %>
</div>
