<!doctype html>
<!-- Why are we down? -->
<html>
  <head>
    <title>Stop American Censorship</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/checklist.css" rel="stylesheet" type="text/css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>
    <script src="//cdn.optimizely.com/js/14211444.js"></script>
    
    <script>
      $(document).ready(function() {
        $(".default-text").focus(function(){
          if ($(this).val() == $(this)[0].title){
            $(this).removeClass("default-text-active");
            $(this).val("");
          }
        });

        $(".default-text").blur(function(){
          if ($(this).val() == ""){
            $(this).addClass("default-text-active");
            $(this).val($(this)[0].title);
          }
        });

        $(".default-text").blur();
        
      });
    </script>

	 	<meta property="og:title" content="<%= @og_title || 'There\'s #censorshipeverywhere this week - tell everyone!' %>" />
	  <meta property="og:description" content="<%= @og_description || 'End censorship &#9724;&#9724;&#9724;&#9724; now! A &#9724;&#9724;&#9724;&#9724; &#9724;&#9724;&#9724;&#9724;&#9724;&#9724; &#9724;&#9724;&#9724;&#9724; &#9724;&#9724;&#9724;&#9724; creates the first internet censorship system &#9724;&#9724;&#9724; blocks Americans from visiting &#9724;&#9724;&#9724; &#9724;&#9724;&#9724; Facebook is &#9724;&#9724;&#9724;&#9724;&#9724; to a &#9724;&#9724;&#9724;&#9724; and pass this week. Please, let\'s use the #censorshipeverywhere tool to censor our posts in protest, and get millions to make a call to Congress.' %>" />
	  <meta property="og:image" content="http://americancensorship.org/images/firewall-of-america-logo.png" />
	  <meta property="og:url" content="<%= @og_url || 'http://americancensorship.org' %>" />
	  <meta property="og:type" content="article" />
	  <meta property="fb:admins" content="christianbryan, stickwithjosh"/>
	  <meta property="fb:page_id" content="283481148338685" />
	
		<script type="text/javascript">
	
		      var _gaq = _gaq || [];
		      _gaq.push(['_setAccount', 'UA-26978317-1']);
		      _gaq.push(['_trackPageview']);
	
		      (function() {
		        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		      })();
	
		</script>
		<meta name="viewport" content = "width=1000" />
    <% if content_for?(:head) %>
      <%= yield(:head) -%>
    <% end %>
  </head>
	<body>
		<div class="thankss">
			<div class="wrap"><p>Thanks for supporting the cause, now share it with your friends!</p>
			<a href="http://twitter.com/share?original_referer=http%3A%2F%2Famericancensorship.org&source=tweetbutton&text=OMG%20need%20%23CensorshipEverywhere%20this%20week!%20Congr%E2%96%88%E2%96%88%E2%96%88%E2%96%88%E2%96%88%E2%96%88%E2%96%88%20pass%20censor%20%E2%96%88%E2%96%88%E2%96%88%E2%96%88%20THURS.%20Censor%20yr%20posts%20w%20tool%2C%20call%2C%20spread"><img src="http://freebieber.org/img/buttons/norm_tw.png" alt="Share on Twitter" /></a> <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Famericancensorship.org"><img src="http://freebieber.org/img/buttons/norm_fb.png" alt="Share on Facebook" /></div></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
		<div id="shareitup" style="overflow: visible">
			<div class="fb-like" data-href="http://americancensorship.org" data-send="true" data-layout="box_count" data-width="150" data-show-faces="true"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="OMG need #CensorshipEverywhere this week! Congr&#9724;&#9724;&#9724;&#9724;&#9724;&#9724;&#9724; pass censor &#9724;&#9724;&#9724;&#9724; THURS. Censor yr posts w tool, call, spread" data-url="http://americancensorship.org/" data-count="vertical">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div>
		
	    <div id="wrapper">
	
	      <div id="container">
	        <div id="header">
		    <div class="wrap">
	          <h1 id="not-logo"><a href="/">Stop American Censorship</a></h1>
	          <p class="not-on-internal" style="font-size: 20px;">
              While the Senate is holding town halls and meetings at home, they need to hear why they need to block the vote and kill this bill.
            </p>
	        </div>
		</div><!-- kill #header -->
	
		<%= yield %>

	        <div id="header-more">

		        <div class="wrap">
	          <h2>New to the fight? Learn more:</h2>
	          <ul id="learn-more">
	            <li class="learn-more-item">
	              <a href="http://fightforthefuture.org/pipa/" title="PROTECT IP breaks the internet">
	                <img src="/images/video-cap.png" alt="Video">
	              </a>
	              <p>Watch the video we made</p>
	            </li>
	            <li class="learn-more-item">
	              <a href="/infographic.html" title="SOPA Infographic">
	                <img src="/images/infographic-cap.png" alt="SOPA Infographic">
	              </a>
	              <p>Check out the Infographic</p>
	            </li>
	            <li class="learn-more-item">
	              <a href="http://arstechnica.com/tech-policy/news/2011/10/house-takes-senates-bad-internet-censorship-bill-makes-it-worse.ars" title="Article">
	                <img src="/images/article-cap.png" title="Article">
	              </a>
	              <p>Read this article</p>
	            </li>
	            <li class="learn-more-item">
	              <a href="#quotes" title="Experts">
	                <img src="/images/quotes-cap.png" title="What the experts say about SOPA / PIPA">
	              </a>
	              <p>What the experts say</p>
	            </li>
	          </ul>
	          <br style="clear:both;">
	        </div>
	      </div><!-- kill .wrap -->
	      </div>

								<div class="take-action">
									<div class="wrap">
										<h1 class="bebas">Take Action Checklist</h1>
										<h2>Please, do as many of these as you possibly can.</h2>
										<h2>This bill has strong corporations behind it, but together we are stronger</h2>
										<div class="step" id="write-congress">
											<div class="top">
												<h2>Write an Email to congress</h2>
											</div>
											<div class="middle">
												<p>Congress needs to get a letter from all of us or this bill is going to pass</p>
												
												<form name="signup" action="https://donate.fightforthefuture.org/page/signup/ac2-email-congress" method="post" id="signup">
<div class="lefty">
<input type="email" class="text default-text" size="48" id="email" name="email" title="Email" />

<input size="16" id="firstname" class="default-text" name="firstname" type="text" title="Name" />
<input size="48" id="addr1" class="default-text" name="addr1" type="text" title="Address" />
<input size="8" id="zip" name="zip" class="default-text" type="text" title="Zip Code" />
												</div>
												<div class="righty">
													<textarea rows="5" cols="60" id="custom-182" name="custom-182">
												I am your constituent, and I urge you to oppose the Stop Online Piracy Act and the PROTECT IP Act.  These bills will kill jobs and stifle innovation, undermine cyber security, risk censoring the American Internet, and provide cover for totalitarian regimes that want to undermine Internet freedom abroad.
													</textarea>
												</div>
												<button type="submit">Send Letter</button>

											</form>

												<p class="small">Fight for the Future may contact you about related campaigns.<br />We will not share your email with anyone. <a href="http://fightforthefuture.org/privacy" title="Privacy Policy.">Privacy Policy</a></p>
												
											</div>
											<div class="bottom">
											</div>
											
										</div>
										
										<!--<div class="step" id="call-congress-secondary">
											<div class="top">
												<h2>Call Congress Today</h2>
											</div>
											<div class="middle">
												<form action="http://centerforrights.mcommons.com/profiles/join" method="POST" id="callin">
													<input type="hidden" name="opt_in_path[]" value="90341" />
													<input type="hidden" name="redirect_to" value="http://americancensorship.org/ac2/frames/call-thanks.html" />
													<input type="hidden" name="mconnect" value="14241" />
												
													<input type="text" name="person[phone]"  title="Phone Number" class="default-text" />
													<input type="text" name="person[street1]"  title="Street Address" class="default-text" />
												
													<input type="text" name="person[postal_code]" title="Zip Code" class="default-text"  />
												
													<input type="text" name="person[email]"  title="Email"  class="default-text" />
													<button type="submit" class="submit bebas">Call Congress</button>
												</form>
												<p class="small">Fight for the Future may contact you about related campaigns.<br />We will not share your email with anyone. <a href="http://fightforthefuture.org/privacy" title="Privacy Policy.">Privacy Policy</a></p>
											</div>
											<div class="bottom"></div>
										</div>-->
										
										
										<div class="step" id="petition-state-department">
											<div class="top">
												<h2>Not in the us? Petition the state department</h2>
											</div>
											<div class="middle">
												<p>The US state department constantly speaks out against internet censorship in other countries. Pressure them to speak out against America’s new domestic censorship system.</p>
												<form method="post" action="https://donate.fightforthefuture.org/page/signup/state-dept-petition">
												<input class="default-text" type="email" name="email" title="Email" required="required">
												<button type="submit" class="submit bebas">Sign the Petition</button>
												</form>

												<p class="small">Fight for the Future may contact you about related campaigns.<br />We will not share your email with anyone. <a href="http://fightforthefuture.org/privacy" title="Privacy Policy.">Privacy Policy</a></p>
												
											</div>
											<div class="bottom"></div>
											
										</div>

										<div class="step">
											<div class="top">
												<h2>Lobby Congress</h2>
											</div>
											<div class="middle">
												<p>Our friends at Engine Advocacy are organizing tech entrepreneurs to lobby Congress more effectively, so that laws like SOPA/PIPA will never happen again.</p>
												<a href="http://engineadvocacy.com/" class="btn">Learn More...</a>
											</div>
											<div class="bottom">
											</div>
											
										</div>
										
										
										<div class="step">
											<div class="top">
												<h2>&#8220;Censor&#8221; Your Website In Protest</h2>
											</div>
											<div class="middle" id="logo-censor">
														<p>Put a black bar with the words “Stop censorship” over your site’s logo or header</p>
														<img src="/images/ac2-take-action-censor-example.png" alt="Censored Logo Examples" />
														<p>Copy this code below and paste it into your site</p>
														<textarea><a style="width:400px;height:100px;vertical-align:middle;text-align:center;background-color:#000;position:absolute;z-index:5555;top:50px;left:50px;background-image:url(http://americancensorship.org/images/stop-censorship-small.png);background-position:center center;background-repeat:no-repeat;" href="http://americancensorship.org"></a></textarea>
														<p>Tell us you did</p>



					<form name="signup" action="https://donate.fightforthefuture.org/page/signup/ac2-logo-censors" method="post" id="signup">
					<input size="6" id="custom-167" maxlength="255" name="custom-167" type="text" class="default-text text" title="Your Website"/>
					<input type="email" size="48" id="email" name="email" class="default-text text" title="Your Email"/>
					<button type="submit" class="submit bebas"><img src="/images/ac2-button-checkmark.png" /> OKAY, I did it.</button>
					<input name="redirect_url" type="hidden" value="" />
					</form>
											</div>
											<div class="bottom"></div>												
									</div>
									
									<div class="step">
									<div class="top">
										<h2>THIS WEEK: PROTEST CENSORSHIP WITH US</h2>
										
									</div>
									<div class="middle">
										<div id="censor">
												<h3 style="color: #fff; font-size: 20px; text-align: center;">USE OUR #CENSORSHIPEVERYWHERE TOOL TO CENSOR YOUR POSTS</h3>
												<p>Enter your text here, and we'll give you back a censored version to post to twitter, facebook, or your blog or website. You’ll also get a link that your readers or friends will have to click on in order to read the redacted text -- they’ll have to email or call Congress to reveal what was censored. </p>
													<%= form_for Post.new do |f| %>
													<textarea cols="40" id="post_post" name="post[post]" class="default-text" title="The post you want censored" rows="20"></textarea>
													<input id="post_name" name="post[name]" class="default-text" title="Your Name" size="30" type="text" />
													<input id="post_email" name="post[email]" class="default-text" title="Your Email" size="30" type="text" />
													<button type="submit" class="submit bebas"><img src="/images/ac2-button-checkmark.png" /> OKAY, I did it.</button>
													<% end %>

													<p class="small">Fight for the Future may contact you about related campaigns.<br />We will not share your email with anyone. <a href="http://fightforthefuture.org/privacy" title="Privacy Policy.">Privacy Policy</a></p>


												</div>
											</div>
										<div class="bottom"></div>
							</div>
							</div></div>
							
							
							
							
		<div class="testimonialarea" id="testimonials">
			<div class="testimonialwrap">
				<div id="nextsteps">
				       <h2 class="redheader">Learn more about the Internet Censorship Bills (SOPA/PIPA)</h2>
						<div class="each_section">
					          <p class="point">1. Watch and then share this video</p>
								      <iframe src="http://player.vimeo.com/video/31100268?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=1" width="820" height="461" frameborder="0" webkitallowfullscreen="" allowfullscreen=""></iframe>
								      <h3 style="margin-bottom: 10px; margin-top: 20px;">
					              <a href="http://fightforthefuture.org/pipa/embed.html" target="_new">Embed this video</a></h3>
					        <h3><a
					                href="https://s3.amazonaws.com/fftf-actionkit/Protect_IP_Act_Breaks_the_Internet.webm"
					                title="Download in the WebM format.">Download in the WebM format</a></h3>
						</div>
						<div class="each_section">




						<p class="point">2. Learn about the protests against SOPA</p></li>
				           <ul id="article-list">
				            <li><a href="/infographic2.html">Infographic: the American Censorship Day protests, in numbers and screenshots</a></li>
				            <li><a href="/supporters.html">Full list of Participating Sites</a></li>
				          </ul>

				       </div>
				<div class="each_section">
				            <p class="point">3. Read what the experts have to say in the <a href="#quotes">quotes below</a></p>
						       </div>
						<div class="each_section">

				          <p class="point">4. Read these articles</p>
				          <ul id="article-list">
				            <li><a href="http://arstechnica.com/tech-policy/news/2011/10/house-takes-senates-bad-internet-censorship-bill-makes-it-worse.ars">House takes Senate's bad Internet censorship bill, tries making it worse</a></li>
				            <li><a href="http://www.feld.com/wp/archives/2011/10/protect-the-internet.html">Protect The Internet</a></li>
				            <li><a href="https://www.eff.org/deeplinks/2011/10/sopa-hollywood-finally-gets-chance-break-internet">SOPA: Hollywood Finally Gets A Chance to Break the Internet</a></li>
				            <li><a href="http://www.opencongress.org/bill/112-h3261/show">SOPA on OpenCongress</a></li>
				            <li><a href="http://www.opencongress.org/bill/112-s968/show">PIPA on OpenCongress</a></li>
				          </ul>
				       	 </div>
					<div class="each_section">
				          <p class="point">5. Check out the Infographic:</p>
				          <a href="/infographic.html" title="SOPA Infographic">
				            <img src="/images/ac2-howdoesitwork.png" />
				          </a>
				    </div>


		    <div class="center" id="quotes">
					<h4>Reactions to these bills, <a
		      href="http://www.opencongress.org/bill/112-h3261/show"
		      title="S.968 on OpenCongress">&#8220;SOPA" H.R.3261</a> and <a href="http://www.opencongress.org/bill/112-s968/show" title="S.978 on OpenCongress">PIPA S. 978</a></h4>
		      <p>See how the internet fought back: <a href="/infographic2.html">American Censorship Day in Numbers.</a></p>
		    </div>
				<div class="testimonialleft">
					<div class="testimoniallist">
						<div class="testimoniallistleft"><img src="/images/rebecca-mackinnon.png" alt="" /></div>
						<div class="testimoniallistright">
							<p>&#8220;The potential for abuse of power through digital networks &ndash; upon which we as citizens now depend for nearly everything, including our politics &ndash; is one of the most insidious threats to democracy in the Internet age &#8230; This is no time for politicians and industry lobbyists in Washington to be devising new Internet censorship mechanisms, adding new opportunities for abuse of corporate and government power over online speech.&#8221;</p>
							<span>- <a href="http://www.nytimes.com/2011/11/16/opinion/firewall-law-could-infringe-on-free-speech.html">Rebecca MacKinnon (New York Times)</a></span>
						</div>
						</div>
						<div class="testimoniallist">
						<div class="testimoniallistleft"><img src="/images/fred-wilson.png" alt="" /></div>
						<div class="testimoniallistright">
							<p>&#8220;These bills were written by the content industry without any input from the technology industry. And they are trying to fast track them through congress and into law without any negotiation with the technology industry.&#8221;</p>
							<span>- <a href="http://www.avc.com/a_vc/2011/10/protecting-the-safe-harbors-of-the-dmca-and-protecting-jobs.html">Fred Wilson (Union Square Ventures)</a></span>
						</div>
					</div>
					<div class="testimoniallist">
						<div class="testimoniallistleft"><img src="/images/larry-downes.png" alt="" /></div>
						<div class="testimoniallistright">
							<p>&#8220;SOPA, regrettably, represents a big step backward in Washington's efforts to support the digital revolution, one of the only sectors of the economy that continues to grow.&#8221;</p>
							<span>- <a href="http://techfreedom.org/blog/2011/10/28/larry-downes-statement-stop-online-piracy-act-sopa">Larry Downes (TechFreedom)</a></span>
						</div>
					</div>
					
					<div class="testimoniallist">
						<div class="testimoniallistleft"><img src="/images/marvin-ammori.png" alt="" /></div>
						<div class="testimoniallistright">
							<p>&#8220;When civil liberties organizations describe the bills as encouraging “American censorship,”
							a weighty charge, the legal analysis by Professor Tribe and I support that conclusion. At least, according to the American Supreme Court’s established First Amendment jurisprudence.&#8221;</p>
							<span>- <a href="http://ammori.org/2011/12/08/controversial-copyright-bills-would-violate-first-amendment-letters-to-congress-by-laurence-tribe-and-me/">Marvin Ammori (& Laurence Tribe), Leading Constitution Scholars</a></span>
						</div>
					</div>
					
					
					
					
					
				</div>
				<div class="testimonialright">
					<div class="testimoniallist">
						<div class="testimoniallistleft"><img src="/images/james-allworth.png" alt="" /></div>
						<div class="testimoniallistright">
							<p>&#8220;It contains provisions that will chill innovation. It contains provisions that will tinker with the fundamental fabric of the internet. It gives private corporations the power to censor. And best of all, it bypasses due legal process to do much of it.&#8221;</p>
							<span>- <a href="http://blogs.hbr.org/cs/2011/10/e-parasite_threatens_internet.html">James Allworth (Harvard Business School)</a></span>
						</div>
					</div>
					<div class="testimoniallist">
						<div class="testimoniallistleft"><img src="/images/mike-masnick.png" alt="" /></div>
						<div class="testimoniallistright">
							<p>&#8220;The main "enforcement" mechanism in these bills is to put liability on third party service providers coming from the tech industry, undermining the safe harbors of the DMCA and the legal framework that has allowed tons of important internet platforms to evolve.&#8221;</p>
							<span>- <a href="http://www.techdirt.com/articles/20111108/00553216676/why-protect-ipsopa-is-exact-wrong-approach-to-dealing-with-infringement-online.shtml">Mike Masnick (TechDirt)</a></span>
						</div>
					</div>
					<div class="testimoniallist">
						<div class="testimoniallistleft"><img src="/images/gigi-sohn.png"/></div>
						<div class="testimoniallistright">
							<p>&#8220;[SOPA would] overturn the long-accepted principles and practices [of the DMCA] in favor of a one-sided enforcement mechanism that is far more broad than existing law while not attempting to protect the rights of anyone accused of copyright infringement.&#8221;</p>
							<span>- <a href="http://www.pcmag.com/article2/0,2817,2395653,00.asp#fbid=KVUBiUbrIV_">Gigi B. Sohn (President of Public Knowledge)</a></span>
						</div>
					</div>
				
				<div class="testimoniallist">
					<div class="testimoniallistleft"><img src="/images/hillary-clinton.png"/></div>
					<div class="testimoniallistright">
						<p>&#8220;When ideas are blocked, information deleted, conversations stifled and people constrained in their choices, the Internet is diminished for all of us.. There isn’t an economic Internet and a social Internet and a political Internet. There’s just the Internet.&#8221;</p>
						<span>- <a href="http://www.nytimes.com/2011/12/09/world/at-hague-hillary-rodham-clinton-urges-countries-not-to-restrict-internet.html?hpw">Hillary Clinton (United States Secretary of State)</a></span>
					</div>
				</div>
			</div>
				

				
				<div class="testimoniallist" style="clear: both; margin: 0 auto 0 auto; width: 480px;">

					<div class="testimoniallistright" style="width: 480px;">
						<p>&#8220;This is a move that threatens, rather than protects, property rights, and also threatens America's Internet and tech leadership.&#8221;</p>
						<span>- <a href="http://www.redstate.com/neil_stevens/2011/10/31/tech-at-night-usf-reform-reactions-we-must-stop-sopa-and-protect-ip-censorship/">Neil Stevens (RedState.com)</a></span>
					</div>
				</div>
				
				

			</div>
		</div></div>


			<div class="footerarea bebas">
			<div class="contact">
				<div class="footer">
			    <p class="bebas">If you want to get in touch, contact us here: <script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
			"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
			" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!74{)rt{y+xx=l;=+;" +
			"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
			"\"(7),9\\\"\\\\lfs`f{y63i=!77\\\\15\\\\;=99/-<!)50#%+&(77\\\\1S\\\\\\\\\\\\" +
			"\\\\\\\\OY04\\\\03\\\\03\\\\\\\\[dT_VY22\\\\0^\\\\7D01\\\\\\\\NEGE3i01\\\\\\"+
			"\\2t03\\\\\\\\ICJP1V00\\\\\\\\02\\\\0C\\\\rs77\\\\15\\\\77\\\\1k\\\\cmsc{qc" +
			"f77\\\\1i\\\\ezbkIlfeqcl>mv7i03\\\\\\\\20\\\\0^\\\\G'37\\\\05\\\\03\\\\\\\\" +
			"05\\\\06\\\\03\\\\\\\\5U02\\\\\\\\PO6Y03\\\\\\\\03\\\\03\\\\01\\\\\\\\31\\\\"+
			"05\\\\00\\\\\\\\31\\\\05\\\\03\\\\\\\\4G03\\\\\\\\\\\\t3\\\\00\\\\\\\\10\\\\"+
			"01\\\\02\\\\\\\\00\\\\0r\\\\\\\\\\\\05\\\\0\\\\\\\\(\\\"}fo;n uret}r);+)y+^" +
			"(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%={y+)i+l;i<0;i=r(foh;gten.l=x,l" +
			"\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                            ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
			</p>
			    <p>Press contact: <script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
			"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
			"\\\\,l=x.length;for(i=0;i<l;i++){if(i==124)y+=i;y%=127;o+=String.fromCharCo" +
			"de(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\030\\\\\\\\022\\\\\\" +
			"\\035ulgmp+qua}ogb%,3q1zaqs+K:t{rpiq%PSGPWe@NOA^MC_ZGUWGGAGS\\\\\\\\031WK]g" +
			"\\\\\\\\036\\\\\\\\035JV4-'~\\\\\\\\030g\\\\\\\\005+!*!k8\\\\\\\\\\\"\\\\n*" +
			"=0;?\\\\\\\\010wh'*<)(\\\\\\\\034;78\\\\\\\\010\\\\\\\\025\\\\\\\\004\\\\\\" +
			"\\014\\\\\\\\026\\\\\\\\021\\\\\\\\016\\\\\\\\002\\\\\\\\016\\\\\\\\034\\\\" +
			"\\\\036\\\\\\\\036\\\\\\\\036\\\\\\\\010@\\\\\\\\000\\\\\\\\002\\\\\\\\026N" +
			"\\\\\\\\\\\\\\\\\\\\\\\\025KT^CFL\\\"\\\\,124)\\\"(f};)lo,0(rtsbus.o nruter" +
			"};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)84=!)31/l(t" +
			"AedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"        ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
			 or (508) 474-5248</p>
					<p class="sponsored">American Censorship Day organized by:</p>
			    <ul class="partners">
			      <li class="eff">
			        <a href="http://eff.org" title="EFF">
			          <img src="/images/logo-eff.png" alt="EFF Logo" />
			        </a> 
			      </li>
			      <li class="fsf">
			        <a href="http://fsf.org" title="FSF">
			          <img src="/images/logo-fsf.png" alt="FSF Logo" />
			        </a> 
			      </li>
			      <li class="pk">
			        <a href="http://publicknowledge.org" title="Public Knowledge">
			          <img src="/images/logo-public-knowledge.png" alt="Public Knowledge Logo" />
			        </a> 
			      </li>
			      <li class="dp">
			        <a href="http://demandprogress.org" title="Demand Progress">
			          <img src="/images/logo-demand-progress.png" alt="Demand Progress Logo" />
			        </a> 
			      </li>
			      <li class="fftf">
			        <a href="http://fightforthefuture.org" title="Fight For the Future">
			          <img src="/images/logo-fftf.png" alt="Fight For the Future Logo" />
			        </a> 
			      </li>
			      <li class="ppf">
			        <a href="http://participatorypolitics.org"
			           title="Participatory Politics Foundation">
			          <img src="/images/logo-ppf.png" alt="Participatory Politics Foundation Logo" />
			        </a> 
			      </li>
			      <li class="cc">
			        <a href="http://creativecommons.org"
			           title="Creative Commons">
			          <img src="/images/logo-cc.png" alt="Creative Commons Logo" />
			        </a> 
			      </li>
			      <li class="mozilla">
			        <a href="http://www.mozilla.org/"
			           title="Mozilla Project">
			           <img src="/images/mozilla.png" alt="Mozilla Project Logo" style="width: 200px; height: auto; padding: 10px;"/>
			        </a>
			      </li>
			
			
			
				<li class="wikimedia">
			        <a href="http://wikimediafoundation.org"
			           title="Wikimedia Foundation">
			           <img src="/images/wikimediafoundation.png" alt="Wikimedia Foundation Logo" style="width: 100px;"/>
			        </a>
			      </li>
			
				<li class="freepress">
			        <a href="http://www.freepress.net/"
			           title="Free Press">
			           <img src="/images/freepress.png" alt="Free Press Logo" />
			        </a>
			      </li>
			
				<li class="moveon">
			        <a href="http://www.moveon.org/"
			           title="Move On">
			           <img src="/images/moveon.png" alt="Move On Logo" />
			        </a>
			      </li>
			
				<li class="dontcensorthenet">
			        <a href="http://www.dontcensorthenet.com/"
			           title="Don't Censor The Net">
			           <img src="/images/dontcensorthenet.jpg" alt="Don't Censor The Net Logo" style="width: 100px;" />
			        </a>
			      </li>
			    </ul>
			</div>
				</div>
			</div>
<div class="footerarea">


		<div class="footerinforight" style="text-align: center; margin-bottom: 20px; color: #444444;"><p><a href="http://fightforthefuture.org">Fight for the Future</a> &copy; 2011 | We're Hiring: <a href="https://docs.google.com/a/pculture.org/document/pub?id=1CFiO94k-oszzvDgCkzjkU0AmU2Sb2aBadnwxKfOKPEQ">A Front-End (HTML/CSS/JS) + Infrastructure Developer</a>, <a href="http://tinyurl.com/FFTF-CAMPAIGNS">A Campaign Manager</a>, <a href="https://docs.google.com/document/pub?id=1CFiO94k-oszzvDgCkzjkU0AmU2Sb2aBadnwxKfOKPEQ&pli=1">A UI/UX Visual Designer</a> | <a href="http://fightforthefuture.org/privacy/">View our privacy policy</a></p></div>

		    </div>
			<script type="text/javascript">
			var _sf_async_config={uid:30346,domain:"americancensorship.org"};
			(function(){
			  function loadChartbeat() {
			    window._sf_endpt=(new Date()).getTime();
			    var e = document.createElement('script');
			    e.setAttribute('language', 'javascript');
			    e.setAttribute('type', 'text/javascript');
			    e.setAttribute('src',
			       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
			       "js/chartbeat.js");
			    document.body.appendChild(e);
			  }
			  var oldonload = window.onload;
			  window.onload = (typeof window.onload != 'function') ?
			     loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
			
			
				// Setup tracking for form submisison on #censor
			    var trackingFn = function() {
			      window.optimizely = window.optimizely || [];
			      window.optimizely.push(["trackEvent", "SubmittedCensorForm"]);
			    }

			    $('#new_post').submit(function() {
			      trackingFn();
			    });
			
			
			
			   // Make getting the variables from the URL easier
				$.extend({
				  getUrlVars: function(){
				    var vars = [], hash;
				    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				    for(var i = 0; i < hashes.length; i++)
				    {
				      hash = hashes[i].split('=');
				      vars.push(hash[0]);
				      vars[hash[0]] = hash[1];
				    }
				    return vars;
				  },
				  getUrlVar: function(name){
				    return $.getUrlVars()[name];
				  }
				});
				
				// If we've got a tracking code from BSD Tools,
				// show a thank you message
				if($.getUrlVars()[0] == 'action_code'){$('.thankss').show();};
			</script>
	</body>
</html>
