<!doctype html>
<html>
  <head>
    <title>Stop American Censorship &mdash; a campaign from Fight for the Future</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/checklist.css" rel="stylesheet" type="text/css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>
    <script src="//cdn.optimizely.com/js/14211444.js"></script>
    
    <script>
      $(document).ready(function() {
        $(".default-text").focus(function(){
          if ($(this).val() == $(this)[0].title){
            $(this).removeClass("default-text-active");
            $(this).val("");
          }
        });

        $(".default-text").blur(function(){
          if ($(this).val() == ""){
            $(this).addClass("default-text-active");
            $(this).val($(this)[0].title);
          }
        });

        $(".default-text").blur();
        
      });
    </script>

	 	<meta property="og:title" content="<%= @og_title || 'Congress Votes on SOPA on January 24th' %>" />
	  <meta property="og:description" content="<%= @og_description || 'On Jan. 24th, the Senate is expected to pass a bill for the first ever U.S. internet censorship system. While the Senate is holding town halls and meetings at home, they need to hear why they need to block the vote and kill this bill.' %>" />
	  <meta property="og:image" content="http://americancensorship.org/images/firewall-of-america-logo.png" />
	  <meta property="og:url" content="<%= @og_url || 'http://americancensorship.org' %>" />
	  <meta property="og:type" content="article" />
	  <meta property="fb:admins" content="christianbryan, stickwithjosh"/>
	  <meta property="fb:page_id" content="283481148338685" />
	
		<script type="text/javascript">
	
		      var _gaq = _gaq || [];
		      _gaq.push(['_setAccount', 'UA-26978317-1']);
		      _gaq.push(['_trackPageview']);
	
		      (function() {
		        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		      })();
	
		</script>
		<meta name="viewport" content = "width=1000" />
    <% if content_for?(:head) %>
      <%= yield(:head) -%>
    <% end %>
  </head>
	<body>
    <a href="http://sopastrike.com"
       style="position: absolute;
              top: 0;
              right: 0;
              text-indent: -99999px;
              display: inline-block;
              width: 220px;
              height: 220px;
              background: url(/images/sopastrike-ribbon.png) no-repeat;
    ">WEB GOES ON STRIKE! JANUARY 18TH, 2012</a>
    <div id="fight_header" style="background: #252525 url('http://americancensorship.org/images/fftf-header.png') center; height: 50px; cursor: pointer;" onclick="location.href = 'http://fightforthefuture.org/';"></div>
		<div class="thankss">
			<div class="wrap"><p>Thanks for supporting the cause, now share it with your friends!</p>
			<a href="http://twitter.com/share?source=tweetbutton&text=The%20Web%20Goes%20On%20Strike%3A%20Largest%20online%20protest%20in%20history!%20Stop%20%23SOPA%20%26%20%23PIPA%20and%20the%20%40MPAA.%20http%3A%2F%2Famericancensorship.org%20%23SOPASTRIKE"><img src="http://freebieber.org/img/buttons/norm_tw.png" alt="Share on Twitter" /></a> <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Famericancensorship.org"><img src="http://freebieber.org/img/buttons/norm_fb.png" alt="Share on Facebook" /></div></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
		<div id="shareitup" style="overflow: visible">
			<div class="fb-like" data-href="http://americancensorship.org" data-send="true" data-layout="box_count" data-width="150" data-show-faces="true"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://americancensorship.org" data-text="This is it. Web censorship vote on 1/24. We need you to go to a townhall in Jan and tell Senators to vote NO." data-hashtags="SOPA">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		
	    <div id="wrapper">
	
	      <div id="container">
	        <div id="header">
		    <div class="wrap">
	          <h1 id="not-logo"><a href="/">Stop American Censorship</a></h1>
	          <p class="not-on-internal" style="font-size: 20px;">On <strong>Wednesday Jan. 18th</strong> <a href="http://sopastrike.com">thousands of sites</a> will go dark to protest <a href="http://fightforthefuture.org/pipa">SOPA & PIPA</a>, two US bills <a href="http://sopacountdown.com/" title="SOPA Countdown">racing through Congress</a> that threaten <a href="http://iworkfortheinternet.org">prosperity</a>, <a href="http://trustnerds.org/">online security</a>, and <a href="http://fightforthefuture.org/pipa/">freedom of expression</a>.</p>
	        </div>
		</div><!-- kill #header -->
	
		<%= yield %>



			<div class="footerarea bebas">
			<div class="contact">
				<div class="footer">
			    <p class="bebas">If you want to get in touch, contact us here: <script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
			"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
			" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!74{)rt{y+xx=l;=+;" +
			"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
			"\"(7),9\\\"\\\\lfs`f{y63i=!77\\\\15\\\\;=99/-<!)50#%+&(77\\\\1S\\\\\\\\\\\\" +
			"\\\\\\\\OY04\\\\03\\\\03\\\\\\\\[dT_VY22\\\\0^\\\\7D01\\\\\\\\NEGE3i01\\\\\\"+
			"\\2t03\\\\\\\\ICJP1V00\\\\\\\\02\\\\0C\\\\rs77\\\\15\\\\77\\\\1k\\\\cmsc{qc" +
			"f77\\\\1i\\\\ezbkIlfeqcl>mv7i03\\\\\\\\20\\\\0^\\\\G'37\\\\05\\\\03\\\\\\\\" +
			"05\\\\06\\\\03\\\\\\\\5U02\\\\\\\\PO6Y03\\\\\\\\03\\\\03\\\\01\\\\\\\\31\\\\"+
			"05\\\\00\\\\\\\\31\\\\05\\\\03\\\\\\\\4G03\\\\\\\\\\\\t3\\\\00\\\\\\\\10\\\\"+
			"01\\\\02\\\\\\\\00\\\\0r\\\\\\\\\\\\05\\\\0\\\\\\\\(\\\"}fo;n uret}r);+)y+^" +
			"(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%={y+)i+l;i<0;i=r(foh;gten.l=x,l" +
			"\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                            ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
			</p>
			    <p>Press contact: <script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
			"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
			"\\\\,l=x.length;for(i=0;i<l;i++){if(i==124)y+=i;y%=127;o+=String.fromCharCo" +
			"de(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\030\\\\\\\\022\\\\\\" +
			"\\035ulgmp+qua}ogb%,3q1zaqs+K:t{rpiq%PSGPWe@NOA^MC_ZGUWGGAGS\\\\\\\\031WK]g" +
			"\\\\\\\\036\\\\\\\\035JV4-'~\\\\\\\\030g\\\\\\\\005+!*!k8\\\\\\\\\\\"\\\\n*" +
			"=0;?\\\\\\\\010wh'*<)(\\\\\\\\034;78\\\\\\\\010\\\\\\\\025\\\\\\\\004\\\\\\" +
			"\\014\\\\\\\\026\\\\\\\\021\\\\\\\\016\\\\\\\\002\\\\\\\\016\\\\\\\\034\\\\" +
			"\\\\036\\\\\\\\036\\\\\\\\036\\\\\\\\010@\\\\\\\\000\\\\\\\\002\\\\\\\\026N" +
			"\\\\\\\\\\\\\\\\\\\\\\\\025KT^CFL\\\"\\\\,124)\\\"(f};)lo,0(rtsbus.o nruter" +
			"};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)84=!)31/l(t" +
			"AedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"        ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
			 or (508) 474-5248</p>
					<p class="sponsored">American Censorship Day organized by:</p>
			    <ul class="partners">
			      <li class="eff">
			        <a href="http://eff.org" title="EFF">
			          <img src="/images/logo-eff.png" alt="EFF Logo" />
			        </a> 
			      </li>
			      <li class="fsf">
			        <a href="http://fsf.org" title="FSF">
			          <img src="/images/logo-fsf.png" alt="FSF Logo" />
			        </a> 
			      </li>
			      <li class="pk">
			        <a href="http://publicknowledge.org" title="Public Knowledge">
			          <img src="/images/logo-public-knowledge.png" alt="Public Knowledge Logo" />
			        </a> 
			      </li>
			      <li class="dp">
			        <a href="http://demandprogress.org" title="Demand Progress">
			          <img src="/images/logo-demand-progress.png" alt="Demand Progress Logo" />
			        </a> 
			      </li>
			      <li class="fftf">
			        <a href="http://fightforthefuture.org" title="Fight For the Future">
			          <img src="/images/logo-fftf.png" alt="Fight For the Future Logo" />
			        </a> 
			      </li>
			      <li class="ppf">
			        <a href="http://participatorypolitics.org"
			           title="Participatory Politics Foundation">
			          <img src="/images/logo-ppf.png" alt="Participatory Politics Foundation Logo" />
			        </a> 
			      </li>
			      <li class="cc">
			        <a href="http://creativecommons.org"
			           title="Creative Commons">
			          <img src="/images/logo-cc.png" alt="Creative Commons Logo" />
			        </a> 
			      </li>
			      <li class="mozilla">
			        <a href="http://www.mozilla.org/"
			           title="Mozilla Project">
			           <img src="/images/mozilla.png" alt="Mozilla Project Logo" style="width: 200px; height: auto; padding: 10px;"/>
			        </a>
			      </li>
			
			
			
				<li class="wikimedia">
			        <a href="http://wikimediafoundation.org"
			           title="Wikimedia Foundation">
			           <img src="/images/wikimediafoundation.png" alt="Wikimedia Foundation Logo" style="width: 100px;"/>
			        </a>
			      </li>
			
				<li class="freepress">
			        <a href="http://www.freepress.net/"
			           title="Free Press">
			           <img src="/images/freepress.png" alt="Free Press Logo" />
			        </a>
			      </li>
			
				<li class="moveon">
			        <a href="http://www.moveon.org/"
			           title="Move On">
			           <img src="/images/moveon.png" alt="Move On Logo" />
			        </a>
			      </li>
			
				<li class="dontcensorthenet">
			        <a href="http://www.dontcensorthenet.com/"
			           title="Don't Censor The Net">
			           <img src="/images/dontcensorthenet.jpg" alt="Don't Censor The Net Logo" style="width: 100px;" />
			        </a>
			      </li>
			    </ul>
			</div>
				</div>
                <p><a href="http://americancensorship.org/supporters.html">See American Censorship Day in numbers and full list of supporters</a></p>
			</div>
<div class="footerarea">


		<div class="footerinforight" style="text-align: center; margin-bottom: 20px; color: #444444;"><p><a href="http://fightforthefuture.org">Fight for the Future</a> &copy; 2011. All rights reserved. Including <em>your</em> right to remix this however you want! | We're Hiring: <a href="https://docs.google.com/a/pculture.org/document/pub?id=1CFiO94k-oszzvDgCkzjkU0AmU2Sb2aBadnwxKfOKPEQ">A Front-End (HTML/CSS/JS) + Infrastructure Developer</a>, <a href="http://tinyurl.com/FFTF-CAMPAIGNS">A Campaign Manager</a>, <a href="https://docs.google.com/document/pub?id=1CFiO94k-oszzvDgCkzjkU0AmU2Sb2aBadnwxKfOKPEQ&pli=1">A UI/UX Visual Designer</a> | <a href="http://fightforthefuture.org/privacy/">View our privacy policy</a></p></div>

		    </div>
			<script type="text/javascript">
			var _sf_async_config={uid:30346,domain:"americancensorship.org"};
			(function(){
			  function loadChartbeat() {
			    window._sf_endpt=(new Date()).getTime();
			    var e = document.createElement('script');
			    e.setAttribute('language', 'javascript');
			    e.setAttribute('type', 'text/javascript');
			    e.setAttribute('src',
			       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
			       "js/chartbeat.js");
			    document.body.appendChild(e);
			  }
			  var oldonload = window.onload;
			  window.onload = (typeof window.onload != 'function') ?
			     loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
			
			
				// Setup tracking for form submisison on #censor
			    var trackingFn = function() {
			      window.optimizely = window.optimizely || [];
			      window.optimizely.push(["trackEvent", "SubmittedCensorForm"]);
			    }

			    $('#new_post').submit(function() {
			      trackingFn();
			    });
			
			
			
			   // Make getting the variables from the URL easier
				$.extend({
				  getUrlVars: function(){
				    var vars = [], hash;
				    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				    for(var i = 0; i < hashes.length; i++)
				    {
				      hash = hashes[i].split('=');
				      vars.push(hash[0]);
				      vars[hash[0]] = hash[1];
				    }
				    return vars;
				  },
				  getUrlVar: function(name){
				    return $.getUrlVars()[name];
				  }
				});
				
				// If we've got a tracking code from BSD Tools,
				// show a thank you message
				if($.getUrlVars()[0] == 'action_code'){$('.thankss').show();};
			</script>
	</body>
</html>
